<h2>{{mainTitle}}</h2>
<a href={{urlToProducts}} class="btn btn-primary" role="button">Go to products</a>

{{#if listExist}}
  <h4>My products:</h4>
  <div class='container text-center mb-5'>
    <div class='row row-gap-5'>
      {{#each info}}
        <div class='col-3'>
          <div class='card'>
            <div class='card-body'>
              <h5 class='card-title'>{{this.product.title}}</h5>
              <p class='card-text'>{{this.product.description}}</p>
            </div>
            <ul class='list-group list-group-flush'>
              <li class='list-group-item'>Item ID: {{this.product.id}}</li>
              <li class='list-group-item'>Description: {{this.product.description}}</li>
              <li class='list-group-item'>Price: ${{this.product.price}}</li>
              <li class='list-group-item'>Quantity: {{this.quantity}}</li>
            </ul>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{else}}
  <p class=''>No Products...</p>
{{/if}}
